body {
    background-color: white;
}

ul {
    list-style-type: none;
    padding: auto;
    float:center;
    text-align: left;
}

hr{
    width:100%;
    text-align: left;
}

button {
    background-color: hsl(5, 85%, 63%);
    color: white;
    text-transform: uppercase;
    padding: 5px 15px;
    border: none;
}

//global font stuff
@font-face {
    font-family: "Regular";
    src: url("./assets/fonts/static/Inter-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Bold";
    src: url("./assets/fonts/static/Inter-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "ExtraBold";
    src: url("./assets/fonts/static/Inter-ExtraBold.ttf") format("truetype");
}

p {
    font-family: Regular;
}

h1,h2 {
    font-family: ExtraBold;
}

h3,
h4 {
    font-family: Bold;
}

.rightmain-font {
    color: hsl(35, 77%, 62%);
}

.rightmain-headers {
    color: hsl(36, 100%, 99%);
}

.rightmain-para {
    color: hsl(233, 8%, 79%);
}

//end of global font stuff

//grid stuff

.item1 {
    grid-area: logoarea;
    background-color: transparent; //standin
}

.item2 {
    grid-area: menuarea;
    background-color: transparent;
    ; //standin
}

.item3 {
    grid-area: leftmain;
    background-color: transparent; //standin
}

.item4 {
    grid-area: rightmain;
    background-color: hsl(240, 100%, 5%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.item5 {
    grid-area: bottommenu;
    background-color: transparent; //standin
    display: flex;
    justify-content: space-around;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'logoarea menuarea menuarea menuarea menuarea menuarea'
        'leftmain leftmain leftmain leftmain rightmain rightmain'
        'bottommenu bottommenu bottommenu bottommenu bottommenu bottommenu';
    background-color: transparent; //standin
    padding: 10px;
    margin: 30px 80px;
}

.grid-item {
    background-color: transparent; //standin
    // border: 1px solid black; //standin border
    margin: 0 40px 0 0;
    //font-size: 30px;
    text-align: center;
}

//end of grid stuff

//images
.img-web3 {
    width: 100%;
    height: 100%;
}

.bottomcard-img {
    height: 100px;
    margin-right: 20px;
}

//end of images

.menu-ul {
    width: 100%;
    margin: 1px;
    // padding: 0;
    list-style: none;
    overflow: hidden;
}

.menu-li {
    float: right;
    text-align: left;
    padding: 5px;
    margin-right: 40px;
    // width: 10%;
}

.leftmain-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent; //standin
    display: flex;
    justify-content: flex-start;
    padding-right: 30px;
}

.leftmain-li {
    float: left;
    width: 50%;
    background-color: transparent; //standin
}

.bottomcards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 5px;
    padding: 0px;
    background-color: transparent;
    line-height: 15px;
}

//responsiveness

@media only screen and (max-width: 1440px) {}

@media only screen and (max-width: 720px) {}

@media only screen and (max-width: 375px) {}