body {
  background-color: white;
}

ul {
  list-style-type: none;
  text-align: left;
  padding: 0 30px;
}

hr {
  width: 100%;
  text-align: left;
}

button {
  background-color: #f15e50;
  color: white;
  text-transform: uppercase;
  padding: 15px 45px;
  border: none;
}

@font-face {
  font-family: "Regular";
  src: url("./assets/fonts/static/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Bold";
  src: url("./assets/fonts/static/Inter-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "ExtraBold";
  src: url("./assets/fonts/static/Inter-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Variable";
  src: url("./assets/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}

p {
  font-family: Regular;
}

h1 {
  font-family: Bold;
  font-size: 50px;
}

h2 {
  font-family: Regular;
  font-size: 40px;
}

h3,
h4 {
  font-family: Variable;
}

.rightmain-font {
  color: #e9ab53;
}

.rightmain-headers {
  color: #fffdfa;
}

.rightmain-headers:hover {
  color: #e9ab53;
}

.rightmain-para {
  color: #c5c6ce;
}

.item1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logoarea;
  background-color: transparent;
}

.item2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-area: menuarea;
  background-color: transparent;
}

.item3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: leftmain;
  background-color: transparent;
}

.item4 {
  margin: 0 0;
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: rightmain;
  background-color: #00001a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: auto;
}

.item5 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: bottommenu;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.grid-container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'logoarea menuarea menuarea menuarea menuarea menuarea' 'leftmain leftmain leftmain leftmain rightmain rightmain' 'bottommenu bottommenu bottommenu bottommenu bottommenu bottommenu';
  background-color: transparent;
  padding: 10px;
  margin: 30px 80px;
}

.grid-item {
  background-color: transparent;
  margin: 0 40px 0 0;
  text-align: center;
}

.img-web3 {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img-web3-mobile {
  display: none;
}

.bottomcard-img {
  height: 100px;
  margin-right: 20px;
}

.menu-ul {
  width: 100%;
  margin: 1px;
  list-style: none;
  overflow: hidden;
}

.menu-icon {
  display: none;
}

.menu-li {
  float: right;
  text-align: left;
  padding: 5px;
  margin-right: 40px;
}

.leftmain-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-right: 30px;
}

.leftmain-li {
  float: left;
  width: 50%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.bottomcards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 5px;
  padding: 0px;
  background-color: transparent;
  line-height: 15px;
}

@media only screen and (max-width: 375px) {
  .img-web3 {
    display: none;
  }
  .img-web3-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 355px;
    float: center;
  }
  body {
    margin: 0 0;
    padding: 0 0;
    overflow-x: hidden;
    width: 375px;
  }
  .item1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: logoarea;
    width: 65px;
    margin: 30px 10px;
  }
  .item2 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-area: menuarea;
    width: 45px;
    margin-left: 230px;
    margin-top: 45px;
  }
  .item3 {
    width: 375px;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-area: leftmain;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 10px 80px 10px;
  }
  .item4 {
    width: 355px;
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-area: rightmain;
    background-color: #00001a;
    line-height: auto;
    padding: 0;
    margin: 10px;
  }
  .item5 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-area: bottommenu;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 400px;
    width: 355px;
    margin: 40px 10px;
  }
  .grid-container {
    width: 375px;
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'logoarea menuarea menuarea menuarea menuarea menuarea' 'leftmain leftmain leftmain leftmain leftmain leftmain' 'rightmain rightmain rightmain rightmain rightmain rightmain' 'bottommenu bottommenu bottommenu bottommenu bottommenu bottommenu';
    margin: 0;
    padding: 0;
  }
  .menu-ul {
    display: none;
  }
  .menu-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .leftmain-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .leftmain-li {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .bottomcards {
    /* display: flex;
        justify-content: center;
        align-items: center; */
    margin: 0;
    padding: 0px;
  }
}
/*# sourceMappingURL=style.css.map */